<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <title>Book A Cab</title>
    <style>
        .center {
          margin: auto;
          width: 60%;
          border: 3px solid #ffa500;
          padding: 10px;
        }
    </style>
</head>

<body>
<div class="center">
    <h3>Welcome To Travel Management Solution</h3>
    <p>
        <a href="book-cab.html">Book a Cab</a>
    </p>
    <p>
        <a href="/cab/calculate-fare">Calculate Fare</a>
    </p>
    <p>
        <a href="register">Register User</a>
    </p>
</div>
</body>

</html>



